.about-section {
  // padding-top: 10rem;
  p {
    margin-bottom: 5rem;
  }
  img {
    // border: 1px solid #ddd;
    border-radius: 8px;
    // padding: 5px;
    width: 500px; 
    height: 280px
  }
}