.about-section {
  // padding-top: 10rem;
  .separator {
    background: linear-gradient(to bottom, $black 0%, #{fade-out($black, .5)} 75%, rgba(255,0,0,0));
    // background: linear-gradient(to bottom, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%, $black 100%), url('../img/bg-masthead.jpg');
    min-height: 20rem;
  }
  p {
    margin-bottom: 5rem;
  }
  img {
    // border: 1px solid #ddd;
    border-radius: 8px;
    // padding: 5px;
    width: 500px; 
    height: 280px
  }
  iframe{
    width: 500px; 
    height: 280px
  }
  .sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
  }
  .grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}