@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'contact.scss';

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}
iframe {
  width: 300px;
  height: 220px;

  @media (min-width: 500px) {
    width: 400px;
    height: 300px;
  }

  @media (min-width: 640px) {
    width: 500px;
    height: 400px;
  }
  
  @media (min-width: 768px) {
    width: 600px;
    height: 450px;
  }
}


.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

.separator {
  background: linear-gradient(to bottom, $black 0%, #{fade-out($black, .5)} 75%, rgba(255,0,0,0));
  // background: linear-gradient(to bottom, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%, $black 100%), url('../img/bg-masthead.jpg');
  min-height: 20rem;
}

.sepia {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}